body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
p {
  font-size: 15px;
}

a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #608dfd;
}

/* Landing Page */
.carousel-image {
  height: 50vh;
  object-fit: contain;  
  /* margin-right: 1px; */
}

  /* Header Section */
.intro {
  display:flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  background-image: url('../img/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* or contain */
  background-position: center;
  height: 40vh;
}

.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-shadow: -3.5px 0 #545454, 0 3.5px #545454, 3.5px 0 #545454, 0 -3.5px #545454; /* This creates a black border around the text */
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  background-color: rgba(0,0,0,0.3);
}

.intro p {
  color: #fff;
  text-shadow: -2.5px 0 #545454, 0 2.5px #545454, 2.5px 0 #545454, 0 -2.5px #545454; /* This creates a black border around the text */
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: rgba(0,0,0,0.3);


}

header .intro-text {
  padding-top: 50vh;
  padding-bottom: 30vh;
}